{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container p-0" style="max-width: 600px">
        <a href="{{ path('user_update_home') }}">
            <button class="btn btn-primary rounded-1 mb-4">
                Retour à la page précédente
            </button>
        </a>
    </div>

    <div class="container p-0 mb-4 mt-1" style="max-width: 600px">
        <h3>Modifier le mot de passe</h3>
    </div>

    <div class="container border rounded shadow p-3" style="max-width: 600px">
        <div class="row mx-auto d-block">
            <div class="col-12 mb-3">
                <span style="font-size: 0.8rem;">N'oubliez pas de cliquer sur le bouton <b>Enregistrer les modifications</b> quand vous avez terminé.</span>
            </div>
        </div>
        {{ form_start(form)}}
        <div class="row px-3">
            <div class="col-12 mb-2">
                {{ form_label(form.old_password, "Mot de passe actuel", { 'label_attr' : { 'class' : 'col-sm-12 col-lg-12 fw-bold'}}) }}
                {{ form_errors(form.old_password) }}
                {{ form_widget(form.old_password, { 'attr' : {'class' : '', }}) }}
            </div>
            <div class="col-12 mb-2">
                {{ form_label(form.new_password.first, "Nouveau mot de passe", { 'label_attr' : { 'class' : 'col-sm-12 col-lg-12 fw-bold'}}) }}
                {{ form_errors(form.new_password.first) }}
                {{ form_widget(form.new_password.first, { 'attr' : {'class' : '',}}) }}
            </div>
            <div class="col-12 mb-2">
                {{ form_label(form.new_password.second, "Confirmez le nouveau mot de passe", { 'label_attr' : { 'class' : 'col-sm-12 col-lg-12 fw-bold'}}) }}
                {{ form_widget(form.new_password.second, { 'attr' : {'class' : '',}}) }}
            </div>
            {{ include('security/_compromised_password.html.twig') }}
        </div>
        <div class="text-start px-3 mt-3">
            <button class="btn btn-success mb-2 px-4" type="submit" style="border-radius: 5px;">Enregistrer les modifications</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}

